header {
  background-image: url("../images/bg.png");
  min-height: 750px;
  width: 100%; }

header ul li:hover {
  border-bottom: solid 2px gray; }

header ul li {
  padding: 31px 19px 0 19px;
  color: black;
  text-transform: uppercase; }

header ul li a {
  color: #565656;
  padding: 0;
  font-family: 'Asap', sans-serif; }

.nav > li > a {
  position: relative;
  display: block;
  padding: 0; }

.navbar-brand {
  padding-top: 31px; }

header .col-md-6 h1 {
  margin-top: 180px;
  font-family: 'Asap', sans-serif;
  font-size: 80px;
  color: #4d4d4d; }

header .col-md-6 h4 {
  font-family: 'Asap', sans-serif;
  font-size: 18px;
  color: #909090;
  margin-bottom: 32px; }

.btn {
  border: none;
  border-radius: 0;
  text-transform: uppercase;
  background-color: #ffffff; }

.btn-default {
  background-image: none; }

.col-md-6 a {
  padding: 20px 30px 18px 30px; }

.col-md-6 {
  display: inline-block; }

.boy {
  float: right; }

.second-part {
  margin-top: 109px;
  float: left; }

.but a {
  background-color: transparent;
  border: solid 1px black; }

.btn-primary {
  background-image: none;
  color: #4d4d4d;
  margin-left: 20px; }

.my-cv {
  margin-top: 36px; }

.my-cv a {
  background-color: transparent;
  border: solid 1px black;
  padding: 19px 54px 17px 47px; }

.my-cv a:hover {
  background-color: white;
  border: none;
  color: #4d4d4d; }

.but a:hover {
  background-color: white;
  border: none;
  color: #4d4d4d; }

.second-part h1 {
  color: #717171;
  text-transform: uppercase;
  font-family: 'Asap', sans-serif;
  margin-top: 0;
  margin-bottom: 0; }

.right-part {
  margin-top: 109px;
  float: right; }

.third-part {
  background-color: #f6f6f6;
  min-height: 693px;
  width: 100%;
  margin-top: 125px; }

.third-part h1 {
  margin-top: 140px;
  margin-bottom: 70px;
  text-transform: uppercase;
  color: #6f6f6f; }

.third-part h1:before {
  content: "";
  height: 4px;
  width: 60px;
  display: block;
  background-color: #7a7a7a;
  margin: auto;
  margin-bottom: 19px; }

.second-part h1:before {
  content: "";
  height: 4px;
  width: 60px;
  display: block;
  background-color: #7a7a7a; }

.services {
  margin-top: 71px; }

.my-skills {
  text-transform: uppercase;
  margin-top: 140px;
  margin-bottom: 125px; }
  .my-skills img {
    margin-top: 63px; }

.my-skills h1:before {
  content: "";
  height: 4px;
  width: 60px;
  display: block;
  background-color: #7a7a7a;
  margin: auto;
  margin-bottom: 19px; }

.port {
  background-color: #f6f6f6;
  width: 100%;
  min-height: 1095px; }

.portfolio-2 {
  margin-top: 30px; }

.port h1 {
  text-transform: uppercase;
  margin-top: 126px; }

.port h1:before {
  content: "";
  height: 4px;
  width: 60px;
  display: block;
  background-color: #7a7a7a;
  margin: auto;
  margin-bottom: 19px; }

.portfolio {
  margin-top: 45px; }

.load-more {
  margin-top: 30px; }

.load-more a .btn .btn-default {
  color: transparent; }

.test h1 {
  margin-top: 126px;
  margin-bottom: 58px; }

.container .testimonials {
  padding-top: 80px;
  padding-bottom: 120px; }
  .container .testimonials .test {
    margin: auto;
    max-width: 950px;
    border: solid 1px; }
    .container .testimonials .test .owl-item {
      width: 100%;
      padding-top: 77px;
      padding-bottom: 37px;
      padding-left: 111px; }
      .container .testimonials .test .owl-item .test-text {
        width: 70%;
        margin-left: 21px;
        text-align: left; }

.icons {
  background-color: #f6f6f6;
  width: 100%;
  min-height: 300px; }
  .icons h3 {
    margin-top: 0;
    margin-bottom: 0; }
  .icons .icons-br .col-md-3 {
    margin-top: 50px; }

footer .container-fluid {
  background: url("../images/footer.png") no-repeat;
  background-size: cover;
  width: 100%;
  min-height: 787px; }

/*# sourceMappingURL=style.css.map */
